html {
  font-size: 10px;
}

#wrapper {
  text-align: center;
}

.title {
  padding: 0.8em;
  text-align: center;
  font-family: Roboto, sans-serif;
  background-color: #283D58;
  font-size: 48px;
  color: #FFFFFF;
}

.table {
  display: inline-block;
  margin-top: 1em;
}

.row {
  margin: 0;
  width: 149.5em;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.cell {
  display: table-cell;
  border: 2px #6F7372 solid;
  width: 2%;
  margin: 0;
}

.head {
  line-height: 2em;
  font-size: 20px;
}

.game li {
  border-top: none;
  height: 2em;
}

.input_1 {
  height: 5em;
  width: 30%;
  display: inline-block;
  border-bottom: 1px #6F7372 solid;
  border-left: 1px #6F7372 solid;
  float: right;
}

.input_2 {
  height: 5em;
  width: 30%;
  display: inline-block;
  border-bottom: 1px #6F7372 solid;
  border-left: 1px #6F7372 solid;
  float: right;
}

.input_total {
  height: 7em;
  width: 100%;
  display: inline-block;
}

.input_10_1 {
  height: 5em;
  width: 30%;
  display: inline-block;
  border-bottom: 1px #6F7372 solid;
  border-left: 1px #6F7372 solid;
  float: right;
}

.input_10_2 {
  height: 5em;
  width: 30%;
  display: inline-block;
  border-bottom: 1px #6F7372 solid;
  border-left: 1px #6F7372 solid;
  float: right;
}

.input_10_3 {
  height: 5em;
  width: 30%;
  display: inline-block;
  border-bottom: 1px #6F7372 solid;
  border-left: 1px #6F7372 solid;
  float: right;
}

.playername {
  vertical-align: middle;
  font-size: 20px;
  word-wrap: break-word;
}

.name[contenteditable='true'] {
  cursor: pointer;
  height: 1.4em;
}

.name[contenteditable=true]:empty:before{
  content: attr(data-placeholder);
  display: block; /* For Firefox */
}

.control {
  height: 3em;
  width: 8.7em;
  float: right;
  line-height: 3em;
  cursor: pointer;
  font-size: 14px;
  border: 2px #6F7372 solid;
  border-collapse: collapse;
  display:inline;
}

#add_button {
    border-left: none;
    border-right: none;
}

.controls {
  display:table;
  list-style-type: none;
  margin: 1em auto;
}

.game_hide {
  display:none;
}

.input_frame {
  height: 1.4em;
  font-size: 32px;
  vertical-align: middle;
  text-transform: uppercase;
}

.totalscore {
  font-size: 48px;
}

.input_total {
  font-size: 48px;
  vertical-align: middle;
  height: 2.4em;
}

.input_frame[contenteditable='true'] {
  cursor: pointer;
}

.input_frame_0 {
    background-color: #DAF7F7;
}

#name_0[contenteditable='true'] {
  background-color: #DAF7F7;
}

.input_frame_1 {
    background-color: #DBF7DA;
}

#name_1[contenteditable='true'] {
  background-color: #DBF7DA;
}

.input_frame_2 {
    background-color: #F7DADA;
}

#name_2[contenteditable='true'] {
  background-color: #F7DADA;
}

.input_frame_3 {
    background-color: #DADCF7;
}

#name_3[contenteditable='true'] {
  background-color: #DADCF7;
}

.input_frame_4 {
    background-color: #F4F7DA;
}

#name_4[contenteditable='true'] {
  background-color: #F4F7DA;
}
